.review {
    margin-top: 150px;
    width: 1140px;
    color: #373737;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.review .review-title {
    width: 1134px;
    height: 74px;
    margin-bottom: 38px;
    background: url(../titles/review.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.review .review-window {
    position: relative;

}

.review .review-window .carousel-review {
    overflow: hidden;
}

.review .review-window .carousel-review .review-cards .review-card .ballom {
    width: 81px;
    height: 40px;
    position: absolute;
    bottom: 29.7%;
}

.review .review-window .carousel-review .review-cards .review-card .ballom img {
    width: 81px;
    height: 40px;
}

.review .review-window .carousel-review .review-cards .review-card .avatar {
    position: absolute;
    bottom: 15%;
    display: flex;
    gap: 18px;
    height: 41px;
    height: 46px;
}

.review .review-window .carousel-review .review-cards .review-card .avatar .nickname {
    font-weight: 700;
}

.review .review-window .carousel-review .review-cards {
    transition: transform 0.6s cubic-bezier(0.25, 1, 0.5, 1);
    display: flex;
    gap: 45px;
    box-sizing: border-box;
}

.review .review-window .carousel-review .review-cards .review-card {
    padding: 18px;
    border: 1px solid #A4A4A4;
    border-radius: 7px;
    margin-bottom: 150px;
    height: auto;
}

.review .review-window .carousel-review .review-cards .review-card .stars {
    display: flex;
    gap: 2px;
    margin-bottom: 18px;
}

.review .button:disabled {
    opacity: 0.3;
    cursor: not-allowed;
}

.review .button {
    cursor: pointer;
    position: absolute;
    z-index: 30;
    padding: 2px;
    border: 1px solid #A4A4A4;
    border-radius: 50%;
    background: white;
    color: #373737;
    display: flex;
    align-items: center;
}

.review .button:hover {
    filter: brightness(.9);
    transition: all 0.3s ease-in-out;
    scale: 1.05;
}

.review .buttonPrev {
    left: -25px;
    top: 30%;
}

.review .buttonNext {
    right: -25px;
    top: 30%;
}

@media(max-width: 1190px) {
    .review {
        width: 768px;
    }

    .review .review-title {
        background: url(../titles/review-tablet.png);
        width: 745px;
    }

    .review .buttonNext {
        right: 0;
    }
}

@media (max-width: 820px) {
    .review {
        width: 350px;
    }

    .review .review-title {
        background: url(../titles/review-mobile.png);
        width: 350px;
        height: 66px;
    }

    .review .buttonPrev {
        left: -12px;
    }

    .review .buttonNext {
        right: -12px;
    }
}