.classes {
  background: url(../classes-overall.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  width: 100%;
}

.infos {
  width: 1185px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.infos .presents-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 33px;
}

.infos .presents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.infos .presents .logo {
  width: 377px;
  height: 114px;
  margin-bottom: 22px;
}

.infos .presents .chars {
  width: 448px;
  height: 356px;
}

@media (min-width: 1460px){
  .infos .classes {
      background-size: contain;
  }
}

@media (max-width: 1190px){
  .infos {
    width: auto;
  }
}

@media (max-width: 820px){
  .infos .presents-content {
    flex-direction: column;
    width: 448px;
  }
}

@media (max-width: 448px){
  .infos .presents-content {
    width: 350px;
  }
  .infos .presents-content .presents .logo {
    width: 320px;
    height: 100%;
  }

  .infos .presents-content .presents .chars {
    width: 350px;
    height: 100%;
  }
}