
.download {
  width: 1140px;
  display: flex;
  font-size: 24px;
  font-weight: 300;
  gap: 113px;
}

.download .download-content {
  display: flex;
  flex-direction: column;
  width: 579px;
}

.download .download-content .download-title {
  width: 579px;
  height: 74px;
  margin-bottom: 83px;
}

.download .download-content .download-here {
  display: flex;
  gap: 18px;
  align-items: center;
}

.download .download-content .download-folder {
  width: 159px;
  height: 159px;
}

.download .download-content .download-link:hover {
  transition: all 0.3s ease-in-out;
  scale: 1.05;
}

@media (max-width: 1140px) {
  .download {
    width: 768px;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 780px) {
  .download {
    width: 360px;
    font-size: 20px;
    gap: 50px;
  }
  .download .download-content {
    width: 360px;
  }
  .download .download-content .download-title {
    width: 370px;
    height: 100%;
    margin-bottom: 30px;
  }
  .download .download-content .download-folder {
    width: 120px;
    height: 100%;
  }

  .download .download-char {
    width: 375px;
    height: 100%;
  }
}