.content {
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content .news-title {
    width: 171px;
    height: 64px;
    margin-bottom: 18px;
}

.news {
    display: flex;
    gap: 45px;
    position: relative;
}

.news .carousel-window {
    width: 1140px;
    overflow: hidden;
    display: flex;
}

.news .carousel-window .news-track {
    display: flex;
    transition: transform 0.6s cubic-bezier(0.25, 1, 0.5, 1);
    width: 350px;
}

.news .carousel-window .news-track .card-wrapper {
    padding-right: 45px;
    box-sizing: border-box;
    cursor: pointer;
}

.news .carousel-window .news-track .card-wrapper .card {
    width: 350px;
    height: 500px;
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    padding: 18px;
    border: 1px solid #A4A4A4;
    color: #373737;
    border: 1px solid #A4A4A4;
}

.news .carousel-window .news-track .card-wrapper .card .type {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.news .carousel-window .news-track .card-wrapper .card .type-bg {
    height: 29px;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    color: white;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.news .carousel-window .news-track .card-wrapper .card .date {
    padding: 18px 0px;
    font-size: 14px;
    font-weight: 500;
}

.news .carousel-window .news-track .card-wrapper .card .description {
    font-size: 15px;
}

.news .button:disabled {
    opacity: 0.3;
    cursor: not-allowed;
}

.news .button {
    cursor: pointer;
    position: absolute;
    z-index: 30;
    padding: 2px;
    border: 1px solid #A4A4A4;
    border-radius: 50%;
    background: white;
    color: #373737;
    display: flex;
    align-items: center;
}

.news .button:hover {
    filter: brightness(.9);
    transition: all 0.3s ease-in-out;
    scale: 1.05;
}

.news .buttonPrev {
    left: -25px;
    top: 50%;
}

.news .buttonNext {
    right: -25px;
    top: 50%;
}

@media(max-width: 1200px) {
    .news {
        width: 768px;
    }

    .news .carousel-window {
        width: 768px;

    }

    .news .buttonPrev {
        left: -25px;
    }

    .news .buttonNext {
        right: 0px;
    }
}

@media (max-width: 820px) {
    .content {
        margin-left: 25px;
    }

    .news {
        width: 375px;
    }

    .news .carousel-window {
        width: 375px;

    }

    .news .buttonPrev {
        left: -13px;
    }

    .news .buttonNext {
        right: 13px;
    }
}
